
SECRET_KEY=
DATABASE_URL= 
REDIS_URL=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_API_URL=
NODE_ENV=
NEXT_PUBLIC_LIVEKIT_URL=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
WEBAUTHN_RP_ID=          
WEBAUTHN_ORIGIN=  
DEVICE_LINK_EXPIRY_MINUTES=